<section class="hero">
  <div class="hero-content">
    <div class="text-content">
      <h1>Hey, I'm Dickson 👋</h1>
      <p class="tagline">
        Fullstack Developer | Crafting clean & modern web apps
      </p>

      <div class="cta-buttons">
        <a class="btn" routerLink="/projects">See My Work</a>
        <a class="btn alt" routerLink="/contact">Hire Me</a>
      </div>

      <p class="intro">
        I build responsive, fullstack web apps using Angular, TypeScript,
        Node.js & PostgreSQL. Let’s turn your idea into reality!
      </p>

      <div class="tech-stack">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/c/cf/Angular_full_color_logo.svg"
          alt="Angular"
        />
        <img
          src="https://cdn.worldvectorlogo.com/logos/typescript.svg"
          alt="TypeScript"
        />
        <img
          src="https://www.vectorlogo.zone/logos/nodejs/nodejs-icon.svg"
          alt="Node.js"
        />
        <img
          src="https://www.vectorlogo.zone/logos/postgresql/postgresql-vertical.svg"
          alt="PostgreSQL"
        />
      </div>

      <div class="social-links">
        <a href="https://github.com/DICKSON39" target="_blank">GitHub</a>
        <a href="www.linkedin.com/in/dickson-ndumia-a31510346" target="_blank"
          >LinkedIn</a
        >
      </div>
    </div>
  </div>
</section>

<app-about></app-about>
<app-projects></app-projects>
<app-skills></app-skills>
<app-contact></app-contact>
