<section class="projects">
    <h2>My Projects</h2>
    <div class="project-list">
      <div class="project-card">
        <h3>Job Matching Platform</h3>
        <p>AI-powered app using TypeScript, PostgreSQL & Express.js.</p>
        <a href="http://dicksonndumia.s3-website-us-east-1.amazonaws.com/" target="_blank">Job Skill Website</a>
      </div>
      <div class="project-card">
        <h3>Twitter Clone</h3>
        <p>Twitter clone app using Angular</p>
        <a href="https://angular-pe3pc3h1c-dickson-ndumias-projects.vercel.app/" target="_blank">The Twitter Clone</a>
      </div>
    </div>
  </section>
  